@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import "variables";

.modal-header3
{
	padding: 12px;
	display: inline;

	.headerText3
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:left;
		font-family: $headerFont;
		font-size: $headerFontSize;

	}
	.closeBtn3
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:right;

		font-size: $headerFontSize;
		&:hover,&:focus
		{
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.modal3
{
	z-index: 99;
	display:none;
	position: fixed;
	right:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	font-family: 'Inconsolata';

	-webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;


	.modal-content3
	{
		position: fixed;
		background-color: rgba(0,0,0,0.2);
		padding: 50px;
	//	margin-right: 5%;
		//margin-top: 5%;
		width: 30%;
		height: 100%;
		top: 0;
		bottom: 0;
		right:0;
		overflow-x: hidden;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	  	-webkit-animation-name: slideInR;
    	-webkit-animation-duration: 0.4s;
    	animation-name: slideInR;
    	animation-duration: 0.4s;
	}

	.modal-body3
	{
		padding-top: 30px;
		font-family: $bodyFont;
		padding-bottom: 50px;

		.intro
		{
			display: flex;

			.profileImage
			{

				#me
				{
					padding-right: 20px;

				}
			}
			.aboutMe
			{
				top: 0;
				p
				{
					font-style: italic;
				}
			}


		}
		.originText
		{
			padding-top: 10px;
			display: block;
			font-size: $bodyFontSize;
		}

	}
	@media only screen and (max-width: 570px)
	{

		.modal-content3
		{
			background-image: url("IMG_0330.jpg");
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: rgba(0,0,0,0.5);

			background-color: gray;
			width: 100%;
			height: 100%;
			padding: 0;


			.modal-header3
			{
				padding: 5%;
				display: block;
				position: relative;

				.headerText3
				{
					font-size: $headerFontSize;
				}

				.closeBtn3
				{
					font-size: $headerFontSize;
				}
			}
			.modal-body3
			{
				position: relative;
				padding: 5%;

				.intro
				{
					display: block;

					.profileImage
					{
						text-align: center;
					}
				}

				#originText
				{
					font-size: $bodyFontSize;
				}
			}
		}
	}


}


@-webkit-keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 100px; opacity: 1}
}

@keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 100px; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
