.modal-header1
{
	padding: 12px;
	display: inline;

	.headerText1
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:left;
		font-family: 'Reenie Beanie';
		font-size:42px;

	}
	.closeBtn1
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:right;

		font-size:30px;
		&:hover,&:focus
		{
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}

}

.modal1
{
	z-index: 99;
	display:none;
	position: fixed;
	right:0;
	top:0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0);
	font-family: 'Inconsolata';

	-webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;


	.modal-content1
	{
		position: fixed;
		background-color: rgba(0,0,0,0.2);
		padding: 50px;
		margin-right: auto;
		width: 50%;
		top: 0;
		right: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	  	-webkit-animation-name: slideInR;
    	-webkit-animation-duration: 0.4s;
    	animation-name: slideInR;
    	animation-duration: 0.4s;
	}

	.modal-body1
	{
		font-family: 'Cutive Mono';

		.intro
		{
			padding-top: 50px;
			font-size: 16px;
		}

	}

	@media only screen and (max-width: 570px)
	{

		.modal-content1
		{
			background-image: url("IMG_0330.jpg");
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: rgba(0,0,0,0.5);

			background-color: gray;
			width: 100%;
			height: 100%;
			padding: 0;


			.modal-header1
			{
				padding: 5%;
				display: block;
				position: relative;

				.headerText1
				{
					font-size:24px;
				}

				.closeBtn1
				{
					font-size: 24px;
				}
			}
			.modal-body1
			{
				position: relative;
				padding: 5%;

				.intro
				{
					font-size: 12px;
					padding-top: 0;
				}
			}
		}
	}



}



@-webkit-keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
