@import "variables";

.modal-header4
{
	padding: 12px;
	display: inline;

	.headerText4
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:left;
		font-family: 'Reenie Beanie';
		font-size: $headerFontSize;


	}
	.closeBtn4
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:right;

		font-size: $headerFontSize;

		&:hover,&:focus
		{
			color: black;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

.modal4
{
	z-index: 99;
	display:none;
	position: fixed;
	right:0;
	bottom:0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0);
	font-family: 'Inconsolata';

	-webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;


	.modal-content4
	{
		position: fixed;
		background-color: rgba(0,0,0,0.2);

		font-size: $headerFontSize;
		padding: 50px;
	//	margin-right: 5%;
		width: 50%;
		height: 25%;
		right: 0;
	//	top: 60%;
		bottom: 0;
		text-decoration: none;
		overflow-x: hidden;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	  	-webkit-animation-name: slideInR;
    	-webkit-animation-duration: 0.4s;
    	animation-name: slideInR;
    	animation-duration: 0.4s;

			a
			{
					text-decoration: none;
					font-family: 'Cutive Mono';

			}

			ul li
			{
				list-style: none;
			}
	}

	@media only screen and (max-width: 570px) //mobile optimization
	{

		.modal-content4
		{
			background-image: url("IMG_0330.jpg");
			background-position: center;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: rgba(0,0,0,0.5);

			background-color: gray;
			width: 100%;
			height: 100%;
			padding: 0;


			.modal-header4
			{
				padding: 5%;
				display: block;
				position: relative;

				.headerText4
				{
					font-size: $headerFontSize;
				}

				.closeBtn4
				{
					font-size: $headerFontSize;
				}
			}
			.modal-body4
			{
				position: relative;
				padding: 5%;

				a
				{
					font-size: $headerFontSize; //larger font for contact info
					text-decoration: none;

				}

				ul li
				{
					list-style: none;
				}

			}
		}
	}


}




/* Add Animation */
@-webkit-keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
