@import "variables";

.info
{
	color: #073505;
	font-size: $bodyFontSizeLarge;
	padding-bottom: 1px;
	position: relative;
	a
	{
		text-decoration: none;

	}
}

.summary
{
	.title
	{
		color: #073505;
		font-size: $bodyFontSizeLarge;
	}

	.bullets
	{
		line-height: 1.6;
	}
}






@media only screen and (max-width: 570px) //mobile optimization
{

}
