@import "resumeModal-text";

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');


.modal-header2
{
	padding: 12px;
	display: inline;

	.headerText2
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:left;
		font-family: 'Reenie Beanie';
		font-size:30px;

	}
	.closeBtn2
	{
		margin: 0px 0px 0px 0px;
		color: black;
		float:right;

		font-size:30px;
		&:hover,&:focus
		{
			color: #000;
			text-decoration: none;
			cursor: pointer;
		}
	}

}


.modal2
{
	z-index: 99;
	display:none;
	position: fixed;
	right:0;
	top:0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0);
	font-family: 'Inconsolata';

	-webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;


	.modal-content2
	{
		position: fixed;
		background-color: rgba(0,0,0,0.2);
		padding: 50px;
		margin-right: auto;
		width: 50%;
		top: 0;
		bottom: 0;
		right: 0;
		overflow-x: hidden;
		overflow-y: scroll;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	  	-webkit-animation-name: slideInR;
    	-webkit-animation-duration: 0.4s;
    	animation-name: slideInR;
    	animation-duration: 0.4s;
	}

	.modal-body2
	{
		font-family: 'Cutive Mono';
		font-size: 20px;
		padding-top: 50px;
	}

}


@-webkit-keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@keyframes slideInR {
    from {right: -300px; opacity: 0}
    to {right: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
