.modal-header3 {
  padding: 12px;
  color: black;
  font-variant: small-caps; }
  .modal-header3 .closeBtn3 {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .modal-header3 .closeBtn3:hover, .modal-header3 .closeBtn3:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

.modal3 {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal3 .modal-content3 {
    position: fixed;
    background-color: white;
    padding-bottom: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal-header1 {
  padding: 12px;
  color: black;
  font-variant: small-caps; }
  .modal-header1 .closeBtn1 {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .modal-header1 .closeBtn1:hover, .modal-header1 .closeBtn1:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

.modal1 {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal1 .modal-content1 {
    position: fixed;
    background-color: white;
    padding-bottom: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal-header4 {
  padding: 12px;
  color: black;
  font-variant: small-caps; }
  .modal-header4 .closeBtn4 {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .modal-header4 .closeBtn4:hover, .modal-header4 .closeBtn4:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

.modal4 {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal4 .modal-content4 {
    position: fixed;
    background-color: white;
    padding-bottom: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal-header2 {
  padding: 12px;
  color: black;
  font-variant: small-caps; }
  .modal-header2 .closeBtn2 {
    color: #ccc;
    float: right;
    font-size: 30px; }
    .modal-header2 .closeBtn2:hover, .modal-header2 .closeBtn2:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer; }

.modal2 {
  z-index: 99;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal2 .modal-content2 {
    position: fixed;
    background-color: white;
    padding-bottom: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@keyframes slideIn {
  from {
    left: -300px;
    opacity: 0; }
  to {
    left: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  background-color: white; }

/*# sourceMappingURL=style.css.map */
