@import "aboutModal";
@import "blogModal";
@import "contactModal";
@import "resumeModal";

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie');


body
{
	overflow: hidden;

	#skater
	{
		align: center;
		position: absolute;
		z-index: 4;
	}

	.bg
	{
		z-index:5;
		background-image: url("IMG_0330level2.jpg");
		background-color: rgba(0,0,0,1);

		background-color: red;
		top: 0px;

		background-position: absolute;
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-size: cover;
	}

	z-index: 1;
	background-color: rgba(0,0,0,0.5);
	top: 0px;
	background-image: url("IMG_0330.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;

	padding-bottom: 200px;

	.title
	{
		z-index: 99;
		font-size: 48px;
		margin-top: 20%;
		margin-left: 10%;
		padding-right: 60%;
		padding-bottom: 20px;
	}

	%buttons-shared
	{
		z-index: 99;
		font-family: 'Reenie Beanie';
		border: none;
		color: black;
		background-color: rgba(0,0,0,0);
		padding: 5px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 28px;
		cursor: pointer;
		&:hover {text-decoration: underline; color: red;}

	}

	.buttons
	{
		margin-top: -75px;
		margin-left: 10%;
		padding-right: 60%;
	}

	.button1
	{
		@extend %buttons-shared;
	}

	.button2
	{
		@extend %buttons-shared;
	}

	.button3
	{
		@extend %buttons-shared;

	}

	.button4
	{
		@extend %buttons-shared;

	}

	//for mobile
	@media only screen and (max-width: 600px)
	{
		overflow-y: scroll;
	}


}
