@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
.modal-header3 {
  padding: 12px;
  display: inline; }
  .modal-header3 .headerText3 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: left;
    font-family: 'Reenie Beanie';
    font-size: 42px; }
  .modal-header3 .closeBtn3 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: right;
    font-size: 30px; }
    .modal-header3 .closeBtn3:hover, .modal-header3 .closeBtn3:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

.modal3 {
  z-index: 99;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal3 .modal-content3 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    width: 30%;
    height: 70%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideInR;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInR;
    animation-duration: 0.4s; }
  .modal3 .modal-body3 {
    font-family: 'Cutive Mono';
    padding-top: 50px; }

@-webkit-keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 100px;
    opacity: 1; } }
@keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 100px;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal-header1 {
  padding: 12px;
  display: inline; }
  .modal-header1 .headerText1 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: left;
    font-family: 'Reenie Beanie';
    font-size: 42px; }
  .modal-header1 .closeBtn1 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: right;
    font-size: 30px; }
    .modal-header1 .closeBtn1:hover, .modal-header1 .closeBtn1:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

.modal1 {
  z-index: 99;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal1 .modal-content1 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideInR;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInR;
    animation-duration: 0.4s; }
  .modal1 .modal-body1 {
    font-family: 'Cutive Mono'; }
    .modal1 .modal-body1 .intro {
      padding-top: 50px;
      font-size: 16px; }
  @media only screen and (max-width: 600px) {
    .modal1 .modal-content1 {
      top: 0px;
      background-image: url("IMG_0330.jpg");
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.5);
      width: 100%;
      padding-left: 5px;
      padding-right: 5px; } }

@-webkit-keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.modal-header4 {
  padding: 12px;
  display: inline; }
  .modal-header4 .headerText4 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: left;
    font-family: 'Reenie Beanie';
    font-size: 42px; }
  .modal-header4 .closeBtn4 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: right;
    font-size: 30px; }
    .modal-header4 .closeBtn4:hover, .modal-header4 .closeBtn4:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

.modal4 {
  z-index: 99;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal4 .modal-content4 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 30px;
    padding: 50px;
    width: 50%;
    height: 25%;
    right: 0;
    bottom: 0;
    text-decoration: none;
    overflow-x: hidden;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideInR;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInR;
    animation-duration: 0.4s; }
    .modal4 .modal-content4 a {
      text-decoration: none; }
    .modal4 .modal-content4 ul li {
      list-style: none; }
  @media only screen and (max-width: 600px) {
    .modal4 .modal-content4 {
      background-color: gray;
      width: 100%;
      height: 100%;
      padding: 0; } }

/* Add Animation */
@-webkit-keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.resume-coding .resume-coding-header {
  font-size: 30px;
  font-weight: bold; }
.resume-coding .resume-coding-body {
  padding: 20px;
  padding-left: 10%;
  font-size: 20px; }

.resume-tools {
  text-align: right; }
  .resume-tools .resume-tools-header {
    font-size: 30px;
    font-weight: bold; }
  .resume-tools .resume-tools-body {
    padding: 20px;
    font-size: 20px; }

.resume-projects {
  text-align: center; }
  .resume-projects .resume-projects-header {
    font-size: 30px;
    font-weight: bold; }
  .resume-projects .resume-projects-body p {
    padding: 10px;
    font-size: 20px; }
  .resume-projects .resume-projects-body .video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0; }
    .resume-projects .resume-projects-body .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .resume-projects .resume-projects-body .game-text p {
    font-size: 14px; }

.modal-header2 {
  padding: 12px;
  display: inline; }
  .modal-header2 .headerText2 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: left;
    font-family: 'Reenie Beanie';
    font-size: 42px; }
  .modal-header2 .closeBtn2 {
    margin: 0px 0px 0px 0px;
    color: black;
    float: right;
    font-size: 30px; }
    .modal-header2 .closeBtn2:hover, .modal-header2 .closeBtn2:focus {
      color: black;
      text-decoration: none;
      cursor: pointer; }

.modal2 {
  z-index: 99;
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Inconsolata';
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s; }
  .modal2 .modal-content2 {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 50px;
    margin-right: auto;
    width: 50%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    -webkit-animation-name: slideInR;
    -webkit-animation-duration: 0.4s;
    animation-name: slideInR;
    animation-duration: 0.4s; }
  .modal2 .modal-body2 {
    font-family: 'Cutive Mono';
    font-size: 20px;
    padding-top: 50px; }

@-webkit-keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@keyframes slideInR {
  from {
    right: -300px;
    opacity: 0; }
  to {
    right: 0;
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  overflow: hidden;
  	/*.bg
  	{
  		z-index:50;
  		background-image: url("IMG_0330level2.png");
  		background-position: center;
  		background-repeat: no-repeat;
  		background-size: cover;
  
  	//	background-color: red;
  	//	background-color: rgba(0,1,0,0.5);
  
  		height: 100%;
  		width: 100%;
  		top: 0px;
  
  		position: absolute;
  	}*/
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  background-image: url("IMG_0330.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 200px; }
  body #skater {
    align: center;
    position: absolute;
    z-index: 4;
    padding-left: 50px;
    padding-right: 50px; }
  body #skater_inside {
    position: relative; }
  body .title {
    z-index: 99;
    font-size: 48px;
    margin-top: 20%;
    margin-left: 10%;
    padding-right: 60%;
    padding-bottom: 20px; }
  body .button1, body .button2, body .button3, body .button4 {
    z-index: 99;
    font-family: 'Reenie Beanie';
    border: none;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    cursor: pointer; }
    body .button1:hover, body .button2:hover, body .button3:hover, body .button4:hover {
      text-decoration: underline;
      color: red; }
  body .buttons {
    margin-top: -75px;
    margin-left: 10%;
    padding-right: 60%; }
  @media only screen and (max-width: 600px) {
    body {
      overflow-y: scroll; }
      body .title {
        font-size: 30px;
        padding-bottom: 10px; }
      body .buttons {
        margin-top: 5px;
        font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
